.my-component{
    border-radius: 15px;
    
    background-color: darkseagreen;
    width: max-content;
    padding: 5px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 30px;
    scale:1.5;

}
button{
    background-color: rgb(100, 131, 100);
    border-radius: 5px;
    font-size: large;
    margin-left: 25px;
    color: darkseagreen;
    border: 2px solid rgb(89, 117, 89);
}
p{
    font-size: large;
}